.transDown {
    transition: .5s, color .10s;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

.transDown:hover {
    transform: translateY(20px);
}

.rotate {
    animation: rotate 1s linear;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.box {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
}
